// Font Family Setups
$font-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-serif: Georgia, Cambria, 'Times New Roman', Times, serif !default;
$font-mono: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;

$font-base-size: 16px !default;

// Font Weight Setups
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-bold: 600 !default;

$font-body: $font-sans !default;
$font-body-weight: $font-weight-regular !default;

$font-display: $font-sans !default;
$font-display-weight: $font-weight-bold !default;

// Font family types
.font-sans {
  font-family: $font-sans;
}
.font-serif {
  font-family: $font-serif;
}
.font-mono {
  font-family: $font-mono;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.text-light {
  font-weight: $font-weight-light;
}
.text-regular {
  font-weight: $font-weight-regular;
}
.text-bold {
  font-weight: $font-weight-bold;
}
